pipeline/pl_orchestration_recipe.json
{
	"name": "pl_orchestration_recipe",
	"properties": {
		"activities": [
			{
				"name": "CsvDataFolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "df1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						{
							"value": "@concat(pipeline().DataFactory,pipeline().RunId)",
							"type": "Expression"
						}
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Es csv",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CsvDataFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(endswith(activity('CsvDataFolder').output.itemType,'csv'))",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}